.createPostPage {
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  padding: 20px;
}

.postContainer {
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 500px;
  width: 500px;
  gap: 10px;
  padding: 0px 40px;
  box-shadow: 15px 15px 7px -8px #8f8f8f;
}

.postHeader {
  margin: 20px 0 0 0;
}

.postContainer input {
  width: 100px;
  height: 30px;
  outline: none;
  padding: 0px 4px;
}

.postContainer textarea {
  width: 480px;
  height: 480px;
  outline: none;
  padding: 7px;
}

.postButton {
  padding: 10px 0;
  margin: 0 0 20px 0;
  background-color: #3d77a5;
  border: none;
  box-shadow: 5px 9px 15px -5px;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s;
}

.postButton:hover {
  transform: translateY(5px);
  box-shadow: none;
}
